---
service_type: osd
service_id: all-available-{{ ceph_cluster_name }}
placement:
  label: osd
spec:
  data_devices:
    size: '{{ ceph_osd_min_size // 1024 // 1024 // 1024 }}G:'
{% if ceph_osd_rotational is not none %}
    rotational: {{ '1' if ceph_osd_rotational else '0' }}
{% endif %}
  filter_logic: AND
